body {
    font-family: Magneto;
    font-size: 2vw;
    color: Brown;
    margin: 30px;
    padding: 30px;
    background-color: Aqua;
}

h1 {
    font-family: Algerian;
    font-size: 10vw;
    color: BlueViolet;
}