body {
    font-family: Jokerman;
    font-size: 4vw;
    color: Violet;
    margin: 30px;
    padding: 30px;
    background-color: Chartreuse;
}

h1 {
    font-family: Mistral;
    font-size: 2vw;
    color: DarkBlue;
    }